<mat-tab-group>
    <mat-tab label="Email">
      <ng-template matTabContent>
        <a mat-raised-button color="accent" href="mailto:john@jsnelson.pro">Email Me</a>
      </ng-template>
    </mat-tab>
    <mat-tab label="Address">
      <ng-template matTabContent>
        <a mat-fab color="accent" download="john_nelson.vcf" target="_blank" href="/assets/john_nelson.vcf" style="float:left;"><mat-icon>house</mat-icon></a><p>John Nelson<br>
            2831 Redcrest Ln Apt 208<br>
            Coventry Twp, OH<br>
            44319
        </p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>